<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <listeners>
        <listener class-name="com.extentreporter.TestListener"/>
        <listener class-name="io.qameta.allure.testng.AllureTestNg"/>
    </listeners>
    <test verbose="5" preserve-order="true" name="D:/GitProject/SeleniumUIAutomation" parallel="classes" thread-count="2">
        <classes>
            <class name="com.cogmento.testcases.HomePageNavBarUsingDotPropertiesFile"/>
            <class name="com.cogmento.testcases.HomePageNavBarUsingCSV"/>
            <class name="com.cogmento.testcases.HomePageNavBarUsingExcelSpreadSheet"/>
            <class name="com.cogmento.testcases.LoginWorkflowUsingDotPropertiesFile"/>
        </classes>

    </test>
<!--    <test name="api">-->
<!--        <classes>-->
<!--            <class name="BrokenURLsinWebPage"/>-->
<!--        </classes>-->
<!--    </test>-->
</suite>